body {
  background: linear-gradient(135deg, #667eea, #764ba2);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.calculator {
  background: #1c1414;
  padding: 20px;
  border-radius: 16px;
  width: 260px;
  box-shadow: 0 20px 40px rgba(52, 44, 44, 0.4);
}

#display {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  font-size: 22px;
  text-align: right;
  padding-right: 10px;
  border: none;
  border-radius: 10px;
  color:antiquewhite
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 45px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  background: #dbd7d7;
  color: rgb(80, 68, 68);
}

button:hover {
  background: #ac8181;
}

.op {
  background: #e8ceb6;
}

.equal {
  background: #2ecc71;
}

.zero {
  grid-column: span 2;
}
